<div class="grid grid-cols-1 gap-2 place-items-center pt-1 border-t-2 bg-black">
  <div class="flex flex-row gap-5">
    <img
      src="../../../assets/instagram-logo.svg"
      class="w-6 h-6 cursor-pointer"
      alt="Instagram Olemix Audio Design"
      (click)="openInstagram()"
    />

    <img
      src="../../../assets/youtube-logo.svg"
      class="w-6 h-6 cursor-pointer"
      alt="Youtube Olemix Audio Design"
      (click)="openYoutube()"
    />
  </div>
  <div class="flex flex-col gap-2">
    <span class="text-xs text-white truncate"
      >Zero DB Estudio de Audio LTDA - Designed by: @raulvictr
    </span>
  </div>
</div>
