<div class="p-10 sm:p-20 md:p-24 lg:p-24 background text-white">
  <div
    class="grid grid-cols-1 place-items-center lg:grid-cols-2 gap-1 place-items-center pb-5"
  >
    <div
      class="grid grid-cols-1 gap-5 place-items-center max-w-[100%] mx-auto lg:max-w-[50%] mx-auto"
    >
      <div class="grid grid-cols-1 gap-2 place-items-center">
        <span
          class="font-montSerrat font-bold text-xl text-center grid grid-cols-1 place-items-center"
          >Para agendar uma visita ao nosso estúdio, fale com a gente em alguma
          de nossas redes sociais ou telefones!
          <div *ngIf="screenWidth < 1024">
            <button
              mat-button
              class="text-black bg-purple-300 p-2 rounded-md mt-10"
              (click)="redirectWhastapp()"
            >
              Clique aqui
            </button>
          </div>
        </span>

        <img
          src="../../../assets/house-sound.png"
          alt="Casa"
          class="mb-10 lg:mb-0"
        />
      </div>
    </div>
    <div class="grid grid-cols-1 gap-5 place-items-center">
      <span
        class="text-base text-white lg:text-2xl uppercase font-bold tracking-tight font-montSerrat lg:text-purple-300"
        >Nossa localização!</span
      >

      <iframe
        class="w-full aspect-video"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15284.403927581694!2d-49.268274620641776!3d-16.7218125037868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x98dd4b823a718cdc!2sOlemix!5e0!3m2!1spt-BR!2sbr!4v1462389744338"
      >
      </iframe>

      <span
        >Rua Teixeira de Freitas Nº 55 Q.1 Lt.15, Setor Serrinha, Goiânia-GO
        (62) 3255-8449
      </span>
    </div>
  </div>
</div>
