<div class="background text-white p-2 pt-4 lg:p-20">
  <div
    class="grid grid-cols-1 place-items-center max-w-[100%] mx-auto lg:grid-cols-2 gap-3 place-items-center pb-5 max-w-[70%] mx-auto"
  >
    <div class="grid grid-cols-1 gap-5 place-items-center">
      <div
        class="grid grid-cols-1 gap-5 place-items-center text-base lg:text-xl"
      >
        <span class="font-montSerrat text-center lg:font-bold"
          >A OLEMIX Audio Design (antiga Zero DB) sempre foi referência pelo
          profissionalismo nos trabalhos e extremo feeling artístico, aliados à
          qualidade sonora obtida por meio de muita sensibilidade e minucioso
          estudo técnico.
        </span>
        <span class="font-montSerrat text-center lg:font-bold">
          Vale ressaltar o aparato estrutural que sustenta a qualidade de cada
          trabalho, desde o delicioso café expresso na recepção, às salas
          acústicas cuidadosamente projetadas pelo arquiteto goiano Fernando
          Amaral e o alto nível dos equipamentos “high end”, presentes também
          nos principais estúdios de áudio do mundo.
        </span>
        <div
          class="font-montSerrat text-center hidden lg:font-bold w-full lg:flex"
        >
          Olemir, CEO da Olemix Audio Design, tem no mercado publicitário seu
          trabalho reconhecido e admirado desde 1995, dirigindo produções de
          áudio para rádio, tv, campanhas políticas e também desenvolvendo
          trilhas musicais e projetos de sound design para cinema.
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-2 place-items-center mt-5 lg:mt-0">
      <span class="text-purple-300 font-bold font-montSerrat"
        >Olemir Cândido</span
      >
      <div class="grid grid-cols-1 place-items-center m-0 p-0">
        <img
          src="../../../assets/olemir-history.png"
          alt="Olemir Cândido"
          class="border-2 border-white min-w-[50%]"
        />
        <span
          class="text-sm text-center max-w-[100%] mx-auto font-montSerrat mt-2 lg:max-w-[60%]"
          ><span class="font-bold">Direção: </span>Olemir Cândido é compositor,
          arranjador e produtor musical, natural de Goiânia, que ao longo dos
          últimos 20 anos tem deixado sua assinatura em trabalhos de inúmeros
          artistas, dos mais variados gêneros musicais, seja no aspecto
          fonográfico ou em assessoria e preparação para shows.</span
        >
      </div>
    </div>
  </div>
</div>
