<div
  class="flex flex-col gap-5 w-full z-20 sticky top-0 bg-black opacity-class"
  [ngClass]="opened ? 'open' : ''"
>
  <div class="text-white p-0 w-full shadow-md">
    <div
      *ngIf="screenWidth > 1294"
      class="grid grid-cols-3 place-items-center max-w-[70%] mx-auto"
    >
      <div (click)="redirectLanding()" class="cursor-pointer">
        <img src="../../../assets/logo-olemix.png" alt="Logo Olemix" />
      </div>

      <div class="grid grid-cols-4 gap-10 sm:gap-20">
        <button mat-button class="mat-button">Estúdio</button>
        <button mat-button class="mat-button">Produções</button>
        <a routerLink="/home/about">
          <button mat-button class="mat-button">Sobre</button></a
        >
        <a routerLink="/home/contact">
          <button mat-button class="mat-button">Contato</button></a
        >
      </div>

      <button
        class="flex items-center bg-white p-3 rounded-md"
        (click)="redirectWhastapp()"
      >
        <span class="font-sans text-md font-bold text-black"
          >Fale com a gente</span
        >
        <img
          src="../../../assets/whatsapp.png"
          alt="whatsapp"
          class="h-6 ml-2"
        />
      </button>
    </div>
    <div *ngIf="screenWidth < 1294" class="grid grid-cols-3 place-items-center">
      <button mat-icon-button class="mr-5" (click)="openMenu()">
        <mat-icon *ngIf="!opened">menu</mat-icon>
        <mat-icon *ngIf="opened">close</mat-icon>
      </button>

      <div>
        <img src="../../../assets/logo-mobile.png" alt="Logo Olemix" />
      </div>
    </div>
  </div>
  <div
    class="grid grid-cols-1 gap-5 place-items-center p-6 text-white font-montSerrat w-full"
    *ngIf="opened"
  >
    <div class="grid grid-cols-1 gap-2 w-full">
      <a routerLink="/home/landing" (click)="openMenu()" class="text-center"
        ><span class="text-xl font-bold">Início</span></a
      >
      <mat-divider></mat-divider>
    </div>
    <div class="grid grid-cols-1 gap-2 w-full">
      <a routerLink="/home/studio" (click)="openMenu()" class="text-center"
        ><span class="text-xl font-bold">Estúdio</span></a
      >
      <mat-divider></mat-divider>
    </div>
    <div class="grid grid-cols-1 gap-2 w-full">
      <a routerLink="/home/productions" (click)="openMenu()" class="text-center"
        ><span class="text-xl font-bold">Produções</span></a
      >
      <mat-divider></mat-divider>
    </div>
    <div class="grid grid-cols-1 gap-2 w-full">
      <a routerLink="/home/about" (click)="openMenu()" class="text-center"
        ><span class="text-xl font-bold">Sobre</span></a
      >
      <mat-divider></mat-divider>
    </div>
    <div class="grid grid-cols-1 gap-2 w-full">
      <a routerLink="/home/contact" (click)="openMenu()" class="text-center"
        ><span class="text-xl font-bold">Contato</span></a
      >
      <mat-divider></mat-divider>
    </div>

    <div
      class="mt-10 flex flex-row gap-2 justify-center rounded-md bg-black text-black button w-full text-xl font-bold"
      (click)="redirectWhastapp()"
    >
      <span>Fale com a gente!</span>
      <img src="../../../assets/whatsapp.png" alt="whatsapp" class="h-8 ml-2" />
    </div>
  </div>
</div>
