<div class="bg-violet-800 text-white p-4 pb-28 pt-28">
  <div
    class="grid grid-cols-1 gap-2 max-w-[100%] md:max-w-[80%] lg:grid-cols-2 gap-5 place-items-center lg:max-w-[73%] mx-auto"
  >
    <div
      class="grid grid-cols-1 gap-5 place-items-center max-w-[85%] lg:max-w-[50%] mx-auto"
    >
      <span class="flex flex-col gap-1 w-full">
        <span class="flex flex-row gap-2 items-center text-sm font-bold">
          <img
            src="../../../../assets/producao-publicitaria-new.png"
            alt=""
            class="h-20"
          />
          <span class="uppercase text-center">Produção Publicitária</span>
        </span>
        <span class="text-2xl font-bold mt-5 sm:text-4xl"
          >Toda produção musical você encontra aqui!</span
        >
        <span class="text-sm sm:text-xl mt-5"
          >Realizamos a produção de trilhas sonoras, jingles e spots!</span
        >
      </span>
      <span
        class="cursor-pointer flex flex-row gap-2 items-center w-full hover:underline underline-offset-8 text-violet-200 font-bold text-sm lg:text-xl"
      >
        <span> Confira nossas produções aqui!</span>
        <mat-icon>play_arrow</mat-icon>
      </span>
    </div>
    <img
      src="../../../../assets/image-jingles.png"
      alt="Notas musicais"
      class="hidden lg:flex"
    />
  </div>
</div>
<div class="bg-red-950 text-white p-4 pb-28 pt-28">
  <div
    class="grid grid-cols-1 gap-2 max-w-[100%] md:max-w-[80%] lg:grid-cols-2 gap-5 place-items-center lg:max-w-[73%] mx-auto"
  >
    <div
      class="grid grid-cols-1 gap-5 place-items-center max-w-[85%] lg:max-w-[50%] mx-auto"
    >
      <span class="flex flex-col gap-1 w-full">
        <span class="flex flex-row gap-2 items-center text-sm font-bold">
          <img
            src="../../../../assets/estudio-de-gravacao-new.png"
            alt=""
            class="h-20"
          />
          <span class="uppercase text-center">Estúdio de Gravação</span>
        </span>
        <span class="text-2xl font-bold mt-5 sm:text-4xl"
          >Os melhores equipamentos para produzir com qualidade, é na Olemix
          Audio Design!</span
        >
        <span class="text-sm sm:text-xl mt-5"
          >Produção musical, gravações, mixagens e masterizações, junto com as
          melhores práticas!
        </span>
      </span>
      <span
        class="cursor-pointer flex flex-row gap-2 items-center w-full hover:underline underline-offset-8 text-red-200 font-bold text-sm lg:text-xl"
      >
        <span> Confira nossos equipamentos aqui!</span>
        <mat-icon>play_arrow</mat-icon>
      </span>
    </div>
    <img
      src="../../../../assets/estudio-gravacao.png"
      alt="Notas musicais"
      class="hidden lg:flex border-4 border-red-500"
    />
  </div>
</div>
<div class="bg-cyan-950 text-white p-4 pb-28 pt-28">
  <div
    class="grid grid-cols-1 gap-2 max-w-[100%] md:max-w-[80%] lg:grid-cols-2 gap-5 place-items-center lg:max-w-[73%] mx-auto"
  >
    <div
      class="grid grid-cols-1 gap-5 place-items-center max-w-[85%] lg:max-w-[50%] mx-auto"
    >
      <span class="flex flex-col gap-1 w-full">
        <span class="flex flex-row gap-2 items-center text-sm font-bold">
          <img
            src="../../../../assets/producoes-diversas-new.png"
            alt=""
            class="h-20"
          />
          <span class="uppercase text-center">Produções Diversas</span>
        </span>
        <span class="text-2xl font-bold mt-5 sm:text-4xl"
          >Infinidades de opções para sua produção!</span
        >
        <span class="text-sm sm:text-xl mt-5"
          >Além de tudo isso, ainda temos a produção de sound design, dublagens
          e sonorização!</span
        >
      </span>
      <span
        class="cursor-pointer flex flex-row gap-2 items-center w-full hover:underline underline-offset-8 text-cyan-200 font-bold text-sm lg:text-xl"
      >
        <span> Confira nossos trabalhos aqui!</span>
        <mat-icon>play_arrow</mat-icon>
      </span>
    </div>
    <img
      src="../../../../assets/sound-design-new.png"
      alt="Notas musicais"
      class="hidden lg:flex"
    />
  </div>
</div>
