<div
  class="bg-black w-full grid grid-cols-1 gap-5 place-items-center text-white"
>
  <div class="grid grid-cols-1 gap-2 place-items-center">
    <span class="pb-5 pt-5 mt-5 sm: text-3xl">Nossos serviços</span>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-3">
    <img
      src="../../../../assets/producao-publicitaria.png"
      alt="Serviços oferecidos"
    />
    <img
      src="../../../../assets/estudio-de-gravacao.png"
      alt="Serviços oferecidos"
    />
    <img
      src="../../../../assets/producoes-diversas.png"
      alt="Serviços oferecidos"
    />
  </div>
</div>
