<div class="bg-violet-800 text-white p-4 pb-52">
  <div class="max-w-[80%] mx-auto grid grid-cols-2 gap-5 place-items-center">
    <span class="font-bold text-4xl"> Produção Artística </span>
    <img src="../../../../assets/producao-publicitaria-new.png" alt="" />
  </div>
</div>
<div class="bg-red-950 text-white p-4 pb-52">
  <div class="max-w-[80%] mx-auto grid grid-cols-2 gap-5 place-items-center">
    <span class="font-bold text-4xl"> Estúdio de Gravação </span>
    <img src="../../../../assets/estudio-de-gravacao-new.png" alt="" />
  </div>
</div>
<div class="bg-cyan-950 text-white p-4 pb-52">
  <div class="max-w-[80%] mx-auto grid grid-cols-2 gap-5 place-items-center">
    <span class="font-bold text-4xl"> Produções Diversas </span>
    <img src="../../../../assets/producoes-diversas-new.png" alt="" />
  </div>
</div>
