<div
  class="flex flex-col gap-5 w-full z-20 sticky top-0 bg-black opacity-class"
  [ngClass]="opened ? 'open' : ''"
>
  <div class="text-white p-0 w-full shadow-md">
    <div
      *ngIf="screenWidth > 1294"
      class="grid grid-cols-3 place-items-center max-w-[70%] mx-auto"
    >
      <div (click)="redirectLanding()" class="cursor-pointer">
        <img src="../../../assets/logo-olemix.png" alt="Logo Olemix" />
      </div>

      <div class="grid grid-cols-5 gap-10 sm:gap-20">
        <button mat-button class="mat-button">Estúdio</button>
        <button mat-button class="mat-button">Produções</button>
        <a routerLink="/about">
          <button mat-button class="mat-button">Sobre</button></a
        >
        <a routerLink="/contact">
          <button mat-button class="mat-button">Contato</button></a
        >
        <a routerLink="/login">
          <button mat-button class="mat-button">Login</button></a
        >
      </div>

      <button
        class="flex items-center bg-white p-3 rounded-md"
        (click)="redirectWhastapp()"
      >
        <span class="font-sans text-md font-bold text-black"
          >Fale com a gente</span
        >
        <img
          src="../../../assets/whatsapp.png"
          alt="whatsapp"
          class="h-6 ml-2"
        />
      </button>
    </div>
    <div *ngIf="screenWidth < 1294" class="grid grid-cols-3 place-items-center">
      <button mat-icon-button class="mr-5" (click)="openMenu()">
        <mat-icon *ngIf="!opened">menu</mat-icon>
        <mat-icon *ngIf="opened">close</mat-icon>
      </button>

      <div>
        <img src="../../../assets/logo-mobile.png" alt="Logo Olemix" />
      </div>
    </div>
  </div>
  <div
    class="grid grid-cols-1 gap-5 place-items-center p-6 text-white font-montSerrat w-full"
    *ngIf="opened"
  >
    <div class="grid grid-cols-1 gap-2 w-full">
      <a
        routerLink="/landing"
        (click)="openMenu()"
        class="text-center text-xl font-bold"
        >Início</a
      >
      <hr class="m-0 w-full" />
    </div>
    <div class="grid grid-cols-1 gap-2 w-full">
      <a
        routerLink="/studio"
        (click)="openMenu()"
        class="text-center text-xl font-bold"
        >Estúdio</a
      >
      <hr class="m-0 w-full" />
    </div>
    <div class="grid grid-cols-1 gap-2 w-full">
      <a
        routerLink="/productions"
        (click)="openMenu()"
        class="text-center text-xl font-bold"
        >Produções</a
      >
      <hr class="m-0 w-full" />
    </div>
    <div class="grid grid-cols-1 gap-2 w-full">
      <a
        routerLink="/about"
        (click)="openMenu()"
        class="text-center text-xl font-bold"
        >Sobre</a
      >
      <hr class="m-0 w-full" />
    </div>
    <div class="grid grid-cols-1 gap-2 w-full">
      <a
        routerLink="/contact"
        (click)="openMenu()"
        class="text-center text-xl font-bold"
        >Contato</a
      >
      <hr class="m-0 w-full" />
    </div>
    <div class="grid grid-cols-1 gap-2 w-full">
      <a
        routerLink="/login"
        (click)="openMenu()"
        class="text-center text-xl font-bold"
        >Login</a
      >
      <hr class="m-0 w-full" />
    </div>
  </div>
</div>
