.mat-button {
  transition: 1s;
  color: white !important;
}

.mat-button:hover {
  transform: scale(1.15);
}

.opacity-class {
  background-color: rgba(0, 0, 0, 0.9) !important;
}

.open {
  position: absolute !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.99) !important;
  overflow: hidden !important;
  transition: all 1s ease-in-out !important;
  top: auto;
  bottom: auto;
}

.button {
  background-color: white !important;
  color: black !important;
  padding: 6% !important;
  padding-top: 7% !important;
  padding-bottom: 7% !important;
}

@media (min-width: 431px) and (max-width: 1293px) {
  .button {
    padding: 2% !important;
    padding-top: 3% !important;
    padding-bottom: 3% !important;
    width: 50% !important;
  }
}

@media (max-width: 430px) {
  .button {
    padding: 6% !important;
    padding-top: 7% !important;
    padding-bottom: 7% !important;
  }
}
