/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Montserrat");

.no-scroll {
  width: 100% !important;
  height: 100vh !important;
  margin: 0 !important;
  overflow: hidden !important;
}
